<div>
  A good password ...

  <ul>
    <li>
      is a mix of letters, numbers and symbols (and emojis if you dare).
    </li>
    <li>
      is at least 12 characters long.
    </li>
    <li>
      does not contain personal information (e.g. your pet's name or your birth date).
    </li>
    <li>
      does not contain any information about the site its being used on (e.g. the sites name).
    </li>
    <li>
      is not reused.
    </li>
  </ul>

  Put some links here
</div>
