<div class="content">
  <h1 class="title">A good password ...</h1>

  <ul>
    <li>
      is a <b>mix of letters, numbers and symbols</b> or any other character (even emojis if you dare).
    </li>
    <li>
      is <b>at least 10 characters</b> long.
    </li>
    <li>
      does <b>no</b>t contain <b>personal information</b> (e.g. your pet's name or your birth date).
    </li>
    <li>
      is <b>not a single word</b> or a common phrase (e.g. <i>magician</i> or <i>itsasecret</i>).
    </li>
    <li>
      is <b>not reused</b>.
    </li>
    <li>
      does <b>no</b>t contain any <b>information about the site</b> its being used on (e.g. the sites name).
    </li>
  </ul>
  <p>
    If you worry about not being able to memorize your password, then use a password manager. <br />
    The most popular ones are
    <a href="https://www.lastpass.com" target="_blank">LastPass</a>,
    <a href="https://1password.com/">1Password</a>,
    <a href="https://www.dashlane.com/">Dashlane</a> and
    <a href="http://keepass.info/">KeePass</a>. 
  </p>
</div>
<div class="content">
  <p>
    If you want to read further about the topic of passwords, then have a look at the following links

    <ul>
      <li>
        <a href="https://www.microsoft.com/en-us/research/wp-content/uploads/2016/06/Microsoft_Password_Guidance-1.pdf">Microsoft Password Guidance</a>
      </li>
      <li>
        <a href="https://krebsonsecurity.com/password-dos-and-donts/">Krebs on Security - Password Do’s and Don’ts</a>
      </li>
      <li>
        <a href="http://www.connectsafely.org/tips-to-create-and-manage-strong-passwords/">ConnectSafely.org - Tips for Strong, Secure Passwords &amp; Other Authentication Tools</a>
      </li>
      <li>
        <a href="https://pages.nist.gov/800-63-3/sp800-63b.html#sec5">NIST Identity guidelines</a>
      </li>
      <li>
        <a href="https://www.troyhunt.com/passwords-evolved-authentication-guidance-for-the-modern-era/">Troy Hunt - Passwords Evolved: Authentication Guidance for the Modern Era</a>
      </li>
  </p>
</div>
