
<div class="content has-text-centered is-large">
  <span id="passmoji"><%= @password %></span>
</div>

<button class="clipboard-btn button is-success" data-clipboard-action="copy" data-clipboard-target="#passmoji">
    Copy to clipboard
</button>
