
<div class="content has-text-centered is-large">
  <div>
    <span id="passmoji"><%= @password %></span>
  </div>
  <button class="clipboard-btn button is-primary" data-clipboard-action="copy" data-clipboard-target="#passmoji">
    <span class="icon">📋</span>&nbsp;&nbsp;&nbsp;Copy passmoji to clipboard
  </button>
</div>
