<div>
  <ul>
    <li>
      What is a passmoji?
      A passmoji is a password that uses emojis instead of regular characters.
    </li>
    <li>
      Are you serious?
      No!
    </li>
    <li>
      Is a passmoji safer than passwords with letters, numbers and special characters?
      Nope, not really.
    </li>
    <li>
      Why should i use a passmoji instead as a password?
      Because it looks cuter.
    </li>
    <li>
      Can i use a passmoji everywhere?
      Yes, as long as you can type (or copy/paste) it and the service supports unicode characters in password.
      Please make sure the service really supports emojis in passwords or you might not be able to log in again.
    </li>
  </ul>
</div>
