<div class="content">
  <h1 class="title">Frequently asked questions</h1>
  <ul>
    <div>
      <b>What is a passmoji?</b> <br />
      <i>A passmoji is a password that uses emojis instead of regular characters.</i>
    </div>
    <br />

    <div>
      <b>Are you serious?</b> <br />
      <i>No!</i>
    </div>
    <li>
      Why should I use a passmoji instead as a password? <br />
      <i>Because emojis are cuter than letters and numbers.</i>
    </li>
    <li>
      Is my passmoji safer than regular (typeable) passwords made from letters, numbers and special characters? <br />
      <i>Nope, not really ... and it also brings new challenges.</i>
    </li>
    <li>
      Can I use my passmoji everywhere? <br />
      <i>Yes, as long as you can type (or copy/paste) it and the service supports unicode characters in the password.
      Please make sure the service really supports emojis in passwords or you might not be able to log in again.</i>
      <br />
      See <a href="">here</a> for an example of what can happen if emojis are used in the wrong place. 
    </li>
    <li>
      What is a good (and safe) password? <br />
      <i>Have a look <a href="/password">here</a> for more information about good passwords.</i>
    </li>
  </ul>
</div>
