<div>
  What is a passmoji?
  A passmoji is a password that uses emojis instead of regular characters.
</div>
<div>
  Are you serious?
  No!
</div>
<div>
  Is a passmoji safer than passwords with letters, numbers and special characters?
  Nope, not really.
</div>
<div>
  Why should i use a passmoji instead as a password?
  Because it looks cuter.
</div>
<div>
  Can i use a passmoji everywhere?
  Yes, as long as you can type it and the service supports unicode characters in password.
  Please make sure the service really supports emojis in passwords or you might not be able to log in again.
</div>
