<div>
  <ul>
    <li>
      What is a passmoji?
      A passmoji is a password that uses emojis instead of regular characters.
    </li>
    <li>
      Are you serious?
      No!
    </li>
    <li>
      Why should I use a passmoji instead as a password?
      Because emojis are cuter than letters and numbers.
    </li>
    <li>
      Is my passmoji safer than regular (typeable) passwords made from letters, numbers and special characters?
      Nope, not really ... and it also brings new challenges.
    </li>
    <li>
      Can I use my passmoji everywhere?
      Yes, as long as you can type (or copy/paste) it and the service supports unicode characters in the password.
      Please make sure the service really supports emojis in passwords or you might not be able to log in again.
    </li>
    <li>
      What is a good (and safe) password?
      Have a look <a href="/password">here</a> for more information about good passwords.
    </li>
  </ul>
</div>
